/skeleton/*.rbc
/skeleton/capybara-*.html
/skeleton/.rspec
/skeleton/log
/skeleton/tmp
/skeleton/db/*.sqlite3
/skeleton/public/system
/skeleton/coverage/
/skeleton/spec/tmp
/skeleton/**.orig
/skeleton/rerun.txt
/skeleton/pickle-email-*.html

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
/skeleton/config/initializers/secret_token.rb
/skeleton/config/secrets.yml

## Environment normalisation:
/skeleton/.bundle
/skeleton/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
/skeleton/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/skeleton/vendor/assets/bower_components
/skeleton/*.bowerrc
/skeleton/bower.json
