<div class="card-modal-backdrop">
</div>

<div class="card-modal">
  <a class="card-modal-dismiss glyphicon glyphicon-remove" href="javascript:void(0)"></a>
  <%= card.escape('title') %>
  Stuff about the card here
  <div class="card-modal-items"></div>
</div>
